.appcard {
  height: 100%;
  background-color: var(--a-surface-alt-2-subtle);
}

.appcard:hover {
  background-color: var(--a-surface-alt-1-subtle);
}

.appcard--disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
