.appcard {
  position: relative;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--a-surface-alt-2-subtle);
  padding: 1rem;
  color: black;
  text-decoration: none;
  box-shadow:
    0 1px 3px rgb(0 0 0 / 10%),
    0 1px 2px rgb(0 0 0 / 6%);
}

.appcard__title {
  white-space: nowrap;
}

.appcard__arrow {
  position: absolute;
  right: 0.75rem;
  top: 2rem;
  transition: all 0.2s ease-out;
}

.appcard__description {
  padding-top: 0.1rem;
  margin-right: 1.25rem;
  font-size: 1rem;
  color: #4a5568;
}

.appcard:hover .appcard-arrow {
  right: 0.5rem;
  transition: all 0.2s;
}

.appcard:hover {
  background-color: var(--a-surface-alt-1-subtle);
  text-decoration: underline;
}

.appcard--disabled {
  opacity: 0.4;
}
