.appCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.appCardGrid__skeleton {
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  box-shadow:
    0 1px 3px rgb(0 0 0 / 10%),
    0 1px 2px rgb(0 0 0 / 6%);
}

.appCardGrid__titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.appCardGrid__descriptionWrapper {
  padding-top: 0.1rem;
  margin-right: 1.25rem;
}
