.linkCardGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	gap: var(--ax-space-16);
}

.linkCardGrid--inaccessible {
	margin-top: var(--ax-space-16);
	opacity: 0.5;
}

.showAllToggle {
	margin-top: var(--ax-space-12);
}
