.linkCard {
	height: 100%;
	background-color: var(--a-surface-alt-2-subtle);
}

.linkCard:hover {
	background-color: var(--a-surface-alt-1-subtle);
}

.linkCard--disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
