.linkCard--app {
	background-color: var(--ax-bg-meta-purple-moderateA);
	border-color: var(--ax-border-meta-purple-subtleA);
}

.linkCard--app:hover {
	background-color: var(--ax-bg-meta-purple-moderate-hoverA);
}

.linkCard--shortcut {
	background-color: var(--ax-bg-brand-beige-moderateA);
	border-color: var(--ax-border-brand-beige-subtleA);
}

.linkCard--shortcut:hover {
	background-color: var(--ax-bg-brand-beige-moderate-hoverA);
}

.linkCard--disabled {
	cursor: not-allowed;
}
