.linkCard {
	height: 100%;
	background-color: var(--ax-bg-meta-lime-soft);
}

.linkCard:hover {
	background-color: var(--ax-bg-meta-purple-soft);
}

.linkCard--disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
