.linkCard {
	height: 100%;
	background-color: var(--ax-bg-brand-beige-moderate);
}

.linkCard:hover {
	background-color: var(--ax-bg-brand-beige-moderate-hover);
}

.linkCard--disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
