.button {
  background: url("./pil.svg") no-repeat center center;
  width: 96px;
  height: 96px;
  border: none;
  cursor: pointer;
  transition:
    background 0.2s ease-in-out,
    transform 0.3s ease-in-out;
  color: #23262a;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 110px;
  border-radius: 50%;
}

.button:hover {
  background: url("./pil-hover.svg") no-repeat center center;
  transform: scale(1.1);
}
