version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
  - package-ecosystem: "npm"
    directory: "/"
    registries:
      - npm-github
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/Oslo"
    open-pull-requests-limit: 20
    groups:
      aksel:
        patterns:
          - "@navikt/aksel-*"
          - "@navikt/ds-*"
      react:
        patterns:
          - "react"
          - "react-dom"
      minor-and-patch:
        update-types:
          - "patch"
          - "minor"
        exclude-patterns:
          - "react"
          - "react-dom"
          - "@navikt/aksel-*"
          - "@navikt/ds-*"

  - package-ecosystem: "npm"
    directory: "/server"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/Oslo"
    groups:
      npm:
        patterns:
          - "*"
