LOCAL_AUTH_ENABLED=true
LOCAL_AUTH_PROXY_URL=http://localhost:3000
AZURE_APP_CLIENT_ID=local-client
AZURE_OPENID_CONFIG_ISSUER=http://localhost:8080/default
AZURE_OPENID_CONFIG_JWKS_URI=http://localhost:8080/default/jwks
LOCAL_MICROFRONTENDS=sokos-up-attestasjon=5173
ALLOWED_ORIGINS=http://localhost:4321,http://localhost:4322,http://localhost:3000