---
import Layout from "@layouts/Layout.astro";
import NoAccess from "@pages/NoAccess.astro";
import { hasAccessToApp } from "@utils/accessControl";
import { getMicrofrontendConfig } from "src/microfrontend";
import Microfrontend from "./Microfrontend";

interface Props {
  appName: string;
}

const { appName } = Astro.props;
const appConfig = getMicrofrontendConfig(appName);

const hasAccess = hasAccessToApp(Astro.locals.userInfo.groups, appConfig);
---

<Layout title={appConfig.title}>
  <div>
    {
      hasAccess ? (
        <Microfrontend
          url={appConfig.bundleUrl}
          client:only="react"
        />
      ) : (
        <NoAccess />
      )
    }
  </div>
</Layout>
