---
import { BodyShort, Box, Button, Heading, HStack } from "@navikt/ds-react";
import styles from "../../common-styles.module.css";
import { ReloadButton } from "./ReloadButton";
---

<Box paddingBlock="space-80 space-32">
  <div class={styles["error-page"]}>
    <Heading level="1" size="large" spacing>
      Beklager, noe gikk galt.
    </Heading>
    <BodyShort spacing>
      En teknisk feil gjør at siden er utilgjengelig. Du kan prøve å vente
      noen minutter og prøve igjen.
    </BodyShort>
    <HStack gap="space-12" wrap={false}>
      <ReloadButton client:only="react" />
    </HStack>
    <Button as="a" href="/" style={{ marginTop: "var(--ax-space-24)" }}>Gå til hovedsiden</Button>
  </div>
</Box>
