.topbar-logo {
  margin-left: 0.75rem;
  width: 4rem;
  padding: 0.375rem 0.25rem 0.25rem;
}

.topbar-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
