.layout-body {
  display: flex;
  width: 100%;
  margin-top: 45px;
}

.layout-outlet {
  width: 100%;
}

.layout-banner {
  @apply bg-green-400 p-1 text-center text-black;
}

.layout-content {
  @apply m-8;
}
