.layout-body {
  @apply mt-11 flex w-full;
}

.layout-content {
  @apply ml-80 w-full transition-all duration-500 ease-in-out;
}

.content-expanded {
  @apply ml-12;
}

.layout-test-banner {
  @apply fixed right-0 top-0 z-[1000] mt-12 font-bold;
}

.test-ikon polygon {
  @apply fill-green-400;
}

.layout-mikrofrontender {
  @apply m-8;
}

.layout-tilbakemelding {
  @apply fixed bottom-0 right-0 p-10;
}
