.welcomeGuidepanel {
	padding-bottom: 2.5rem;
}

/* stylelint-disable aksel/no-class-override */
.welcomeGuidepanel :global(.aksel-guide-panel) {
	width: 100%;
}
/* stylelint-enable aksel/no-class-override */

.welcomeGuidepanel__heading {
	text-align: center;
}
