---
import styles from "./environmentbanner.module.css";

type ApplicationEnvironment = "LOCAL" | `TEST ${string}` | null;

function getApplicationEnvironment(): ApplicationEnvironment {
  const naisClusterName = process.env.NAIS_CLUSTER_NAME;

  if (!naisClusterName) {
    return "LOCAL";
  }

  if (naisClusterName === "dev-gcp") {
    return `TEST ${process.env.UTBETALINGSPORTALEN_ENVIRONMENT}`;
  }

  return null;
}

const environment = getApplicationEnvironment();
---

{
  environment && (
    <div class={styles["environmentbanner"]}>
      <svg
        aria-hidden="true"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        height="110"
        width="110"
        class={styles["environmentbanner__icon"]}
      >
        <polygon points="0,0 110,0 110,110" />
        <text x="25" y="10" transform="rotate(45 20,40)">
          {environment}
        </text>
      </svg>
    </div>
  )
}
