---
import { BodyShort, Box, Button, Heading, List } from "@navikt/ds-react";
import Layout from "../layouts/Layout.astro";
import styles from "../common-styles.module.css";
import GoBack from "src/components/go-back/GoBack";
---

<Layout title="404 - Fant ikke siden">
  <Box paddingBlock="20 16" data-aksel-template="404-v2">
    <div class={styles["error-page"]}>
      <Heading level="1" size="large" spacing>
        Beklager, vi fant ikke siden
      </Heading>
      <BodyShort>
        Denne siden kan være slettet eller flyttet, eller det er en feil i
        lenken.
      </BodyShort>
      <List>
        <List.Item>Bruk gjerne menyen</List.Item>
        <List.Item>
          <GoBack fallbackUrl="/" client:load>
            Gå tilbake til forrige side
          </GoBack>
        </List.Item>
      </List>
      <Button as="a" href="/">Gå til hovedsiden</Button>
    </div>
  </Box>
</Layout>
