---
import GoBack from "@components/go-back/GoBack";
import Layout from "@layouts/Layout.astro";
import { BodyShort, Box, Button, Heading, VStack } from "@navikt/ds-react";
import styles from "../common-styles.module.css";
---

<Layout title="404 - Fant ikke siden">
  <Box paddingBlock="20 16" data-aksel-template="404-v2">
    <div class={styles["error-page"]}>
      <Heading level="1" size="large" spacing>
        Beklager, vi fant ikke siden
      </Heading>
      <BodyShort>
        Denne siden kan være slettet eller flyttet, eller det er en feil i
        lenken.
      </BodyShort>
      <VStack gap="4" align="center" marginBlock="6 0">
        <GoBack fallbackUrl="/" client:load>
          Gå tilbake til forrige side
        </GoBack>
        <Button as="a" href="/">Gå til hovedsiden</Button>
      </VStack>
    </div>
  </Box>
</Layout>
