---
import { BodyShort, Box, Heading, List } from "@navikt/ds-react";
import { ChatExclamationmarkIcon } from "@navikt/aksel-icons";
import Layout from "../layouts/Layout.astro";
import styles from "./_404.module.css";
import GoBack from "src/components/go-back/GoBack";
---

<Layout title="404 - Fant ikke siden">
  <Box paddingBlock="20 16" data-aksel-template="404-v2">
    <div class={styles["error-page"]}>
      <ChatExclamationmarkIcon
        title="Chat exclamationmark ikon"
        fontSize="6rem"
      />
      <Heading level="1" size="large" spacing>
        Beklager, vi fant ikke siden
      </Heading>
      <BodyShort>
        Denne siden kan være slettet eller flyttet, eller det er en feil i
        lenken.
      </BodyShort>
      <List>
        <List.Item>Bruk gjerne søket eller menyen</List.Item>
        <List.Item>
          <GoBack fallbackUrl="/" client:load>
            Gå tilbake til forrige side
          </GoBack>
        </List.Item>
      </List>
    </div>
  </Box>
</Layout>
