.home {
  margin: auto;
  min-width: 380px;
  max-width: 1600px;
}

.home-heading {
  text-align: center;
}

.home-guidepanel {
  padding-bottom: 2.5rem;
}

.home-apps {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}

@media (width >= 880px) {
  .home-apps {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .home-apps {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 1510px) {
  .home-apps {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width >= 1800px) {
  .home-apps {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
