---
import { BodyShort, Box, Heading, Link, List } from "@navikt/ds-react";
import commonstyles from "../common-styles.module.css";
---

<Box paddingBlock="space-80 space-64" data-aksel-template="404-v3">
  <div class={commonstyles["error-page"]}>
    <Heading level="1" size="large" spacing> Mangler tilgang </Heading>
    <BodyShort> Du har dessverre ikke tilgang til denne siden</BodyShort>
    <List>
      <List.Item>Kontakt identansvarlig for å få tilgang</List.Item>
      <List.Item>
        <Link href="/">Gå til forsiden</Link>
      </List.Item>
    </List>
  </div>
</Box>
