---
import { getMicrofrontendConfig } from "src/microfrontend";
import { hasAccessToAdGroup } from "src/utils/common";
import {
  fetchMicrofrontendAdGroup,
  fetchMicrofrontendBundleUrl,
} from "src/utils/server/common";
import Microfrontend from "../components/microfrontend/Microfrontend";
import Layout from "../layouts/Layout.astro";
import NoAccess from "./NoAccess.astro";

const spkMottakConfig = getMicrofrontendConfig("spk_mottak");

const hasAccess = hasAccessToAdGroup(
  Astro.locals.userInfo.adGroups,
  fetchMicrofrontendAdGroup({
    adGroupDevelopment: spkMottakConfig.adGroupDevelopment,
    adGroupProduction: spkMottakConfig.adGroupProduction,
  })
);
---

<Layout title={spkMottakConfig.title}>
  <div>
    {
      hasAccess ? (
        <Microfrontend
          url={fetchMicrofrontendBundleUrl(spkMottakConfig.naisAppName)}
          userData={Astro.locals.userInfo}
          client:only="react"
        />
      ) : (
        <NoAccess />
      )
    }
  </div>
</Layout>
