---
import { getMicrofrontendConfig } from 'src/microfrontend';
import { hasAccessToAdGroup } from 'src/utils/common';
import {
  fetchMicrofrontendAdGroup,
  fetchMicrofrontendBundleUrl,
} from 'src/utils/server/common';
import Microfrontend from '../components/microfrontend/Microfrontend';
import Layout from '../layouts/Layout.astro';
import NoAccess from './NoAccess.astro';

const venteregisterConfig = getMicrofrontendConfig('venteregister');

const hasAccess = hasAccessToAdGroup(
  Astro.locals.userInfo.adGroups,
  fetchMicrofrontendAdGroup({
    adGroupDevelopment: venteregisterConfig.adGroupDevelopment,
    adGroupProduction: venteregisterConfig.adGroupProduction,
  }),
);
---

<Layout>
  <div>
    {
      hasAccess ? (
        <Microfrontend
          url={fetchMicrofrontendBundleUrl(venteregisterConfig.naisAppName)}
          userData={Astro.locals.userInfo}
          client:only="react"
        />
      ) : (
        <NoAccess />
      )
    }
  </div>
</Layout>
