.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navLogo {
  margin-left: 0.5rem;
  width: 4.5rem;
  height: 3rem;
  padding: 0.45rem 0.25rem;
  object-fit: contain;
  display: block;
}

.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
