.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
}

.header__navLogo {
	margin-left: 0.5rem;
	width: 4.5rem;
	height: 3rem;
	padding: 0.45rem 0.25rem;
	object-fit: contain;
	display: block;
}
