.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header__navLogo {
  margin-left: 0.5rem;
  width: 4.5rem;
  height: 3rem;
  padding: 0.45rem 0.25rem;
  object-fit: contain;
  display: block;
}

.header__juleLogo {
  height: 2rem;
  width: auto;
  display: block;
}

.header__lyslenkeContainer {
  height: 3rem;
  flex-grow: 1;
  background-repeat: repeat-x;
  background-position: left center;
  background-size: auto 100%;
}
