---
import { BodyShort, Box, Button, Heading } from "@navikt/ds-react";
import commonstyles from "../../common-styles.module.css";
---

<Box paddingBlock="20 8">
  <div class={commonstyles["error-page"]}>
    <Heading level="1" size="large" spacing>Mangler tilgang</Heading>
    <BodyShort spacing>
      Du har dessverre ikke tilgang til denne siden.
    </BodyShort>
    <BodyShort spacing>
      Kontakt identansvarlig for å få tilgang.
    </BodyShort>
    <Button as="a" href="/">Gå til hovedsiden</Button>
  </div>
</Box>
