.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100vh;
	width: 17.5rem;
	overflow-y: auto;
	background-color: var(--ax-bg-raised);
	transition: width 0.4s ease-in-out;
	padding-top: 3rem;
	scrollbar-gutter: stable;
}

.sidebar--closed {
	width: 3rem;
}

.sidebar__links {
	display: flex;
	flex-direction: column;
	padding-inline: 0.1rem;
}

.sidebar__list {
	margin: 0;
	padding: 0;
}

.sidebar__closeButton {
	display: flex;
	justify-content: flex-end;
	background-color: #0E151F;
	padding-block: 0.5rem;
	padding-right: 0.5rem;
}

.sidebar__icon {
	width: 1.5rem;
	height: 1.5rem;
	padding-bottom: 2px;
}

.sidebar__buttonColor {
	/* biome-ignore lint/complexity/noImportantStyles: <use-important-styles> */
	background-color: #0E151F !important;
}

.sidebar__buttonColor:hover {
	/* biome-ignore lint/complexity/noImportantStyles: <use-important-styles> */
	background-color: #242B37 !important;
}

.sidebar__link {
	margin-inline: 0.5rem;
	white-space: nowrap;
	border-radius: 0.25rem;
	padding: 0.5rem 2rem;
	color: var(--ax-bg-default);
	text-decoration: underline;
}

.sidebar__link:hover {
	text-decoration: none;
}

.sidebar__link--active {
	pointer-events: none;
	background-color: var(--ax-bg-meta-purple-strong);
	text-decoration: none;
	transition: all 100ms;
}

.sidebar__linkChild {
	display: flex;
	gap: 0.25rem;
}
