.sidebar {
  position: fixed;
  z-index: 1000;
  margin-top: 0.25rem;
  height: 100vh;
  min-height: 100vh;
  width: 20rem;
  min-width: 20rem;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--a-surface-inverted);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar.closed {
  z-index: 1000;
  width: 3rem;
  min-width: 3rem;
}

.sidebar-links {
  display: flex;
  min-width: 20rem;
  flex-direction: column;
}

.closebutton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--a-surface-inverted);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}
