.link {
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.sidebar {
  transition: all 0.4s ease-in-out;
  width: 4rem;
}

.sidebar.open {
  width: 16rem;
}

.textContainer {
  width: 100%;
}

@media (min-width: 1000px) {
  .textContainer {
    width: 14rem;
  }
}

@media (min-width: 2300px) {
  .textContainer {
    width: 16rem;
  }
  .sidebar.open {
    width: 18rem;
  }
}
