.sidebarlink {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  color: var(--a-surface-default);
  text-decoration: underline;
}

.sidebarlink:hover {
  text-decoration: none;
}

.sidebarlink.active {
  pointer-events: none;
  background-color: var(--a-purple-400);
  text-decoration: none;
  transition-property: all;
  transition-duration: 200ms;
}

.sidebarlink-child {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
