---
import SideBar from "./SideBar";
import SideBarSkeleton from "./SideBarSkeleton";

const userData = Astro.locals.userData;
---

<div class="sidebar">
  <SideBar server:defer adGroups={userData.groups} client:only="react">
    <SideBarSkeleton slot="fallback" />
  </SideBar>
</div>

<script>
  document.addEventListener("sidebarStateChange", (event) => {
    const customEvent = event as CustomEvent;
    const isOpen = customEvent.detail.isOpen;
    document.body.classList.toggle("sidebar-open", isOpen);
  });
</script>
