@import "tailwindcss/base";
@import "../node_modules/@navikt/ds-css";
@import "../node_modules/@navikt/ds-css-internal";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  background-color: var(--a-bg-default);
}

.page-wrapper {
  height: auto;
  min-height: 70%;
}
