@import "tailwindcss/base";
@import url("https://cdn.nav.no/aksel/@navikt/ds-css/4.4.1/index.min.css");
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  background-color: var(--a-bg-default);
}

.page-wrapper {
  height: auto;
  min-height: 70%;
}
