@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  background-color: var(--a-gray-100);
}

.page-wrapper {
  height: auto;
  min-height: 70%;
}
