---
import Environmentbanner from "src/components/environmentbanner/environmentbanner.astro";
import SideBar from "src/components/sidebar/sidebar.astro";
import Header from "../components/header/header.astro";
import styles from "./Layout.module.css";

export type LayoutProps = {
  title: string;
};

const { title } = Astro.props as LayoutProps;

const pageTitle = title
  ? `Utbetalingsportalen | ${title}`
  : "Utbetalingsportalen";
---

<!doctype html>
<html lang="nb">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Utbetalingsportalen" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link
      rel="preload"
      href="https://cdn.nav.no/aksel/@navikt/ds-css/6.16.2/index.min.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="https://cdn.nav.no/aksel/@navikt/ds-css/6.16.2/index.min.css"
    />
    <script is:inline type="importmap">
      {
        "imports": {
          "react": "https://www.nav.no/tms-min-side-assets/react/18/esm/index.js",
          "react-dom": "https://www.nav.no/tms-min-side-assets/react-dom/18/esm/index.js"
        }
      }
    </script>
    <script is:inline
      defer
      src="https://cdn.nav.no/team-researchops/sporing/sporing.js"
      data-host-url="https://umami.nav.no"
      data-website-id="e174f8d8-4082-4cb0-8280-b992d0a47901"
    />
  </head>
  <body>
    <Header />
    <Environmentbanner />
    <SideBar />
    <main class={styles.container}>
      <slot />
    </main>
  </body>
</html>
