body {
  background-color: var(--a-bg-subtle);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 2rem 2rem;
  margin: 0 auto;
}

.container > :global(*) {
  min-width: 800px;
  margin: 1.5rem;
  width: 100%;
  max-width: 1400px;
}

:global(body.sidebar-open) .container {
  opacity: 0.4;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

@media (width <=1200px) {
  .container {
    padding: 4rem 1.5rem 2rem 4rem;
  }

  .container > :global(*) {
    min-width: 600px;
  }
}

@media (width <=768px) {
  .container > :global(*) {
    min-width: 300px;
  }
}
