name: Build & test PR

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "LICENCE"
      - "CODEOWNERS"
      - ".gitignore"
      - ".github/workflows/codeql-trivy-scan.yaml"
      - ".github/workflows/deploy.yaml"
      - '.github/workflows/digestabot-automerge.yaml'
      - '.github/workflows/digestabot-update.yaml'
      - ".github/workflows/manual-deploy.yaml"
      - ".github/dependabot.yaml"

jobs:
  build-test-pr:
    permissions:
      contents: read
    name: Build & test application
    uses: navikt/mob-gha-workflows/.github/workflows/node-build-pr.yaml@main
    secrets: inherit
